@import ./bootstrap

$purple: #7e599d

@font-face
  font-family: 'Chewy'
  font-style: normal
  font-weight: 400
  src: url('../fonts/Chewy-Regular.ttf') format('truetype')

@font-face
  font-family: 'Operator'
  font-style: normal
  font-weight: 400
  src: url('../fonts/OperatorMono-Medium.otf') format('opentype')

h1,h2,h3,h4,h5,h5,h6
  font-family: 'Chewy'
  color: $purple

h1
  font-size: 4.5rem

h2
  font-size: 3.5rem

h3
  font-size: 3rem

h4
  font-size: 2.5rem

h5
  font-size: 2rem

h6
  font-size: 1.5rem

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)
  h1
    font-size: 2.5rem

  h2, h3
    font-size: 1.5rem


section
  min-height: 100vh

  .container-fluid
    padding-top: 1.5rem
    padding-bottom: 1.5rem

  &#hero
    background: linear-gradient(#bbedfe, #fcfbdb)
    min-height: unset

  &#info
    background-color: #fcfbdb
    padding-top: 50px

    .bg
      background-image: url('../img/info-bg-1.png')

  &#reserve
    background-color: $purple
    color: white

    h1, h2, h3, h4, h5, h6
      color: white
    
    .bg-1
      background-image: url('../img/paw-left-bg.png')

    .bg-2
      background-image: url('../img/paw-right-bg.png')
  
  &#social
    background-color: white
    color: $purple

  .bg
    background-repeat: repeat-y
    background-origin: content-box
    background-position: center 0
    min-height: 100vh

.avatar-container
  max-height: 100%

  img
    max-width: 50%

.twitter-avatar-container
  padding: 10px
  height: 70px
  width: 70px
  background-image: url('../img/profile-bg.png')
  background-size: cover

  img
    border: 2px solid $purple
    border-radius: .25rem

.form-control
  border-top: none
  border-left: none
  border-right: none

.info-item
  i
    color: $purple
    font-size: 36px
    margin-right: 8px

#reserve-submit
  background: none
  color: white
  transition: all .3s ease
  border-color: white

  &:hover
    border-color: white
    background-color: white
    color: $purple
