@import ./bootstrap

$purple: #7e599d

@font-face
  font-family: 'Chewy'
  font-style: normal
  font-weight: 400
  src: url('../fonts/Chewy-Regular.ttf') format('truetype')

@font-face
  font-family: 'Operator'
  font-style: normal
  font-weight: 400
  src: url('../fonts/OperatorMono-Medium.otf') format('opentype')

h1,h2,h3,h4,h5,h5,h6
  font-family: 'Chewy'
  color: $purple

h1
  font-size: 4.5rem

h2
  font-size: 3.5rem

h3
  font-size: 3rem

h4
  font-size: 2.5rem

h5
  font-size: 2rem

h6
  font-size: 1.5rem

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)
  h1
    font-size: 2.5rem

  h2, h3
    font-size: 1.5rem

  .rule
    font-size: 1rem

.rule
  font-size: 1.25rem
  padding: 1rem 0

.social-link, a
  color: $purple

  &:hover
    text-decoration: none
    color: darken($purple, 10%)

  i
    font-size: 1.5rem


section
  min-height: 100vh

  .container-fluid
    padding-top: 1.5rem
    padding-bottom: 1.5rem

  &#hero
    background: linear-gradient(#bbedfe, #fcfbdb)
    min-height: unset

  &#info
    background-color: #fcfbdb
    padding-top: 50px

    .bg
      background-image: url('../img/info-bg-1.png')

  &#reserve
    background-color: $purple
    color: white

    h1, h2, h3, h4, h5, h6
      color: white

    .bg-1
      background-image: url('../img/paw-left-bg.png')

    .bg-2
      background-image: url('../img/paw-right-bg.png')

    a
      color: white !important
      text-decoration: underline !important

  &#social
    background-color: white
    color: $purple

    .footer
      color: $purple

  .bg
    background-repeat: repeat-y
    background-origin: content-box
    background-position: center 0
    min-height: 100vh

.avatar-container
  max-height: 100%

  img
    max-width: 50%

.form-control
  border-top: none
  border-left: none
  border-right: none

.info-item
  i
    color: $purple
    font-size: 36px
    margin-right: 8px

#reserve-submit, #info-submit, #info-reg
  background: none
  color: white
  transition: all .3s ease
  border-color: white

  &:hover
    border-color: white
    background-color: white
    color: $purple

.main-btn
  background-none
  color: $purple
  transition: all .3s ease
  border-color: $purple

    &:hover
      border-color: $purple
      background-color: $purple
      color: white

.footer-bar
  background-color: $purple
  height: 8px
  border-radius: 10rem

.footer-l
  position: absolute
  top: 20px
  left: -50px

.footer-r
  position: absolute
  top: 20px
  right: -50px

.twitter-avatar-container
  padding: 12px
  background-image: url('../img/profile-bg.png')
  background-size: contain
  background-position: 0 0
  background-repeat: no-repeat

  img
    border: 2px solid white
    border-radius: .25rem

.social-container
  border: 2px solid $purple
  background-color: white
  border-radius: .25rem
  padding: 0 1.5rem

  .vis-0
    visibility: hidden
    opacity: 0

  .text-content
    min-width: 75%
    margin: 0 auto
    text-align: center
    align-self: center

    .social-item
      padding: 0 1rem

    .social-title
      font-weight: 600
      font-size: .8rem
      line-height: 2.5

      &.confirmed
        font-size: 1.5rem
        line-height: 1.5
        padding-left: 1rem
        margin-top: 1rem

    .social-value.confirmed
      padding-top: .8rem

